* {
    margin: 0;
    padding: 0;
  }



.top{
    height:350px;
    text-align:center;
    padding: 80px;
    background-color: dimgray;
    color:white;
    vertical-align: middle;
}

.top h1{
    vertical-align: middle;

    text-align:center;
}

.nav a {
    float: left; /* Make sure that the links stay side-by-side */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add   padding */
    text-decoration: none; /* Remove underline */

}

.nav {
    overflow: hidden; /* Hide overflow */
    background-color: #333; /* Dark background color */

  }

  .nav a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
  }


  /* Ensure proper sizing */
* {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }



  .side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
  }
  
  /* Main column */
  .main {
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
  }



  /* Clear floats after image containers */
 

.head{
    text-align: center;
    align-items: center;
    padding:50px;

}




.cl p{


    float: left;
    clear: both;
}
  
.cl{
    float: left;
}

.gallary{
    
        float:left;
        display:flex;
}



.next img{

 margin-top: 20px;
 margin-right: 20px;
 align-items:center;
 float: right;
 width: 1000px;;
 height: 700px;;
 border-left: grey;
 border-width: 10px;
  
}

.flex-container {
    display: flex;
    border-top:20px #333;
    border: 1px;
    border-color: aquamarine;
    background-color:gray;
    padding: 10px;
  
  }


  .flex-container img{
    margin: 50px;
    padding:10px;
    align-items: center;
    border: 1px solid ;
    border: radius 2px;
    border-color: #333;
    


  }


  .flex-container p{

    color:aliceblue;
    padding : 20px 50px;
    
    align-items: center;
 

  }
  
  .side img{


   margin-top: 40px;

  }


  #head1{

    text-decoration: dotted;
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    

    
  }

  #r{
         float: left;
         flex-direction: row;

  }


  /* Slideshow container */
.Hi {
  max-width: 700px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}


